.user-card-img {
  width: 300px;
  height: 300px;
}

.user-card {
 width: 375px;
 min-height: 600px;
}

@media screen and (max-width: 500px) {
  .user-card {
    width: 250px;
    min-height: 200px;

  }
  .user-card-img {
    width: 200px;
    height: 200px;
  }
}