/* Homepage Styles */

.homepage-container {
  background-image: url("../assets/friends.webp");
  background-size: cover;
  background-position: center;
}

.index-cta {
  position: relative;
  max-width: 50rem; /* Use max-width instead of width */
  top: -15rem; /* Adjust the vertical position */
  margin: 0 auto; /* Center the container horizontally */
}

@media screen and (max-width: 580px) {
  .index-cta {
    max-width: 25rem; /* Use max-width instead of width for smaller screens */
    top: -10rem; /* Adjust the vertical position for smaller screens */
  }
}
